.servicesWrapper {
  padding: 5rem 2rem 5rem 2rem;
  background-size: cover;
}

.servicesTitle {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.services {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.price {
  position: absolute;
  font-size: 1.2rem;
  margin-left: 75%;
  padding: 1rem 2.5rem;
  width: fit-content;
  background-color: #ff8026;
  color: #fff;
  letter-spacing: 1px;
}
