.servicesTitle {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.services {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  gap: 1rem;
}

.price {
  position: absolute;
  font-size: 1.2rem;
  margin-left: 75%;
  padding: 1rem 2.5rem;
  width: fit-content;
  background-color: #ff8026;
  color: #fff;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  .services {
  }
}
