.cardWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 23%;
}

.card {
  min-width: 300px;
  height: 23rem;
  padding: 2rem;
  background-color: #ff7f26;

  /* box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.75); */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  box-sizing: border-box;
}

.title {
  height: 1.5rem;
  font-size: 1.5rem;
  margin-top: 1.3rem;
}

.text {
  height: 40%;
  font-size: 1rem;
  margin-top: 1rem;
  font-style: italic;
}

.imgContainer {
  width: fit-content;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: #fff;
}

.img {
  width: 3rem;
}

@media (max-width: 1320px) {
  .cardWrapper {
    flex-basis: 48%;
  }
}

@media (max-width: 1024px) {
  .card {
    height: 20rem;
  }
  .text {
    height: 5rem;
  }
}
@media (max-width: 768px) {
  .cardWrapper {
    flex-basis: 45%;
  }
  .card {
    width: 300px;
    height: 100%;
  }
  .text {
    height: fit-content;
  }
}
