.cardWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 23%;
}

.card {
  height: 23rem;
  padding: 2rem;
  background-color: #ff7f26;
  -webkit-box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.75);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  box-sizing: border-box;
}

.title {
  font-size: 1.5rem;
  margin-top: 1.3rem;
}

.text {
  font-size: 1rem;
  margin-top: 1rem;
  font-style: italic;
}

.imgContainer {
  width: fit-content;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: #fff;
}

.img {
  width: 3rem;
}

@media (max-width: 1024px) {
  .cardWrapper {
    flex-basis: 48%;
  }
  .card {
    height: 20rem;
  }
  .text {
    height: 5rem;
  }
}
@media (max-width: 768px) {
  .cardWrapper {
    flex-basis: 100%;
  }
  .card {
    height: fit-content;
  }
  .text {
    height: fit-content;
  }
}
