.wrapper {
  background-color: #000;
  padding: 3rem 5rem;
}

.hero {
  min-height: 50vh;
  height: 100%;
  display: flex;
  color: #fff;
}

.imgContainer {
  position: relative;
  height: 40rem;
  min-width: 40rem;
  aspect-ratio: 1/1;
  top: 2vh;
  left: 5vw;
  margin-right: 0vw;
  overflow: hidden;
  z-index: 1;
}
.img {
  position: relative;
  height: 100%;
  right: 5rem;
  z-index: 1;
}
.imgContainer::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 90%;
  height: 90%;
  left: 0;
  top: 0;
  padding: 2rem;
  margin: 5%;
  border: 1px solid #fff;
  z-index: 2;
}

.img::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 65vw;
  background-color: #282828;
  padding: 4rem 6rem 4rem 10rem;
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 400;
    span {
      color: #fb7d26;
      font-weight: 800;
    }
  }
}

.decs {
  font-size: 1.8rem;
  font-weight: 400;
}

.list {
  list-style-type: none;
  margin: 1rem 1rem 2rem;
  img {
    height: 1rem;
    margin: 0 1rem;
  }
  li {
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

.order {
  max-width: 40%;
  border: none;

  color: #000;
  background-color: #fff;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  &:hover {
    background-color: #fb7d26;
    color: #ffffff;
  }
}

@media (max-width: 1600px) {
  .imgContainer {
    height: 23rem;
    min-width: 23rem;
    top: 5vh;
  }
  .img {
    right: 3rem;
  }
  .content {
    width: 65%;
    padding: 2rem 2rem 2rem 7rem;
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .decs {
      font-size: 1.2rem;
    }
    .list {
      margin: 1rem;
    }
    .order {
      max-width: 13rem;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 2rem 1rem;
  }
  .hero {
    display: flex;
  }

  .imgContainer {
    min-width: 10rem;
    left: 0;
    top: 2rem;
    margin-right: -2rem;
  }
  .img {
    right: 4rem;
  }
  .content {
    margin: auto;
    padding: 2rem 3rem;
  }
  .order {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0;
  }
  .hero {
    display: block;
  }
  .imgContainer {
    height: 70vw;
    margin: auto;
  }
  .content {
    width: 100%;
    margin-top: 3rem;
    padding: 1rem;
  }
  .img {
    right: 5rem;
  }
}
