.SideTextWrapper {
  background-color: #ff8026c1;
  display: flex;
  border-radius: 50px;
  padding: 1rem 5rem;
  justify-content: space-between;
  align-items: center;
  color: #000;
  height: 60vh;
  width: 75%;
  margin: 0 auto 2.5rem;
  gap: 2rem;
}

.rewersedWrapper {
  flex-direction: row-reverse;
  background-color: #fff;
}

.textContainer {
}

.rewersedTextContainer {
  text-align: right;
}
.titleText {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.text {
  font-size: 1.4vw;
}

.img {
  display: block;

  max-width: 50%;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .SideTextWrapper {
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 2rem;
  }
  .titleText {
    font-size: 2rem;
    margin-bottom: 0;
    text-align: center;
  }
  .text {
    text-align: center;
    max-width: 100%;
    margin: auto;
    font-size: 1.1rem;
    padding: 1rem;
  }
  .img {
    max-width: none;
    width: 70%;
    margin-bottom: 1rem;
    border-radius: 20px;
  }
}
@media (max-width: 320px) {
  .SideTextWrapper {
    gap: 0;
  }
  .textContainer,
  .rewersedTextContainer {
    text-align: center;
  }
  .titleText {
    font-size: 1.5rem;
    text-align: center;
  }
  .text {
    font-size: 0.75rem;
  }
  .img {
    width: 13rem;
  }
}
