.SideTextWrapper {
  background-color: #ff8026c1;
  display: flex;
  border-radius: 50px;
  padding: 1rem 5rem;
  justify-content: space-around;
  align-items: center;
  color: #000;
  -webkit-box-shadow: 2px 2px 46px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 46px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 46px 1px rgba(0, 0, 0, 0.75);
  height: 60vh;
  width: 75%;
  margin: 0 auto 2.5rem;
}

.rewersedWrapper {
  flex-direction: row-reverse;
  background-color: #fff;
}

.textContainer {
  margin: 5rem 0 5rem 5rem;
}

.rewersedTextContainer {
  text-align: right;
  margin: 5rem 5rem 5rem 0;
}
.titleText {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.text {
  font-size: 1.3rem;
}

.img {
  display: block;
  height: 20rem;
  width: 25rem;
  border-radius: 10px;
}

@media (max-width: 1280px) {
  .SideTextWrapper {
    width: 90%;
    margin: 0rem auto 10rem;
    flex-direction: column;
  }
  .textContainer,
  .rewersedTextContainer {
    text-align: center;
    margin: 0;
  }
  .text {
    max-width: 90%;
    margin: auto;

    font-size: 2rem;
  }
  .img {
    width: 90%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 750px) {
  .SideTextWrapper {
    width: 90%;
    margin: 0rem auto 10rem;
    flex-direction: column;
    padding: 2rem;
  }
  .textContainer,
  .rewersedTextContainer {
    text-align: center;
    margin: 0;
  }
  .titleText {
    font-size: 3rem;
  }
  .text {
    max-width: 100%;
    margin: auto;
    font-size: 1.5rem;
  }
  .img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 20px;
  }
}
