.popupWrapper {
  background-color: rgba(0, 0, 0, 0.446);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 15;
  top: 0;
  left: 0;
}

/* content */

.popupContent {
  background-color: #ff7f26;
  border-radius: 50px;
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.form {
  width: 100%;
}

.input {
  margin: auto;
  width: 15rem;
  display: block;
  margin-bottom: 2rem;
  background-color: #00000026;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
}

.input::placeholder {
  color: #ffffff91;
  letter-spacing: 3px;
}

.input:focus::placeholder {
  color: transparent;
}

/* input area */

.msg {
  text-align: left;
  height: 10vh;
}

/* input area */

.submit {
  width: 100%;
  height: 7vh;
  border-radius: 20px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.submit:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #fff;
  box-sizing: border-box;
}

/*  */
.hide {
  display: none;
}

@media (max-width: 1024px) {
  .popupContent {
    width: 40%;
    min-width: 25rem;
    height: 90%;
  }
}
/* @media (max-width: 320px) {
  .popupContent {
    width: 100%;
    height: 100%;
  }
} */
