/* containers */

.wrapper {
  padding: 4rem 5rem;
  background-color: #000;
}
.cardsContainer {
  padding: 0 0 3rem 0;
}

.contactContainer {
  background-color: #ff7f26;
}

/* sideContainer */

.title {
  color: #fff;
  font-size: 3rem;
  width: fit-content;
  margin: 3rem auto 3rem;
  transition: transform 1s, opacity 1s; /* Виправлено властивість "position" на "transform" */
  opacity: 0;
  transform: translateY(50px); /* Виправлено "translate" на "translateY" */
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.sideTitle {
  color: #fff;
}

.blockTitle {
  color: #000;
}

.leftContainer {
  opacity: 0;
  transform: translateX(-500px);
}

.rightContainer {
  opacity: 0;
  transform: translateX(500px);
}

.container {
  transition: transform 1s, opacity 1s;
  opacity: 1;
  transform: translateX(0);
}

/* popup */

body {
  overflow-y: hidden;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 1rem 0;
  }
}

@media (max-width: 768px) {
  .sideContainer {
    padding: 2rem;
  }
  .contactContainer {
    padding: 2rem 0;
    background-color: inherit;
  }
}
@media (max-width: 320px) {
  .servicesContainer {
    padding: 2rem;
  }
}
