/* containers */

.wrapper {
  padding: 0 2.5rem 4rem;
  background-color: #fff;
}

.id {
  padding-bottom: 5rem;
}
.cardsContainer {
  padding: 0 0 3rem 0;
}

.sectionTitle {
  position: relative;
  width: 70%;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  padding-bottom: 2rem;
  margin: 0 auto 3rem;
  border-bottom: 1px solid #fff;
  &::after {
    margin-top: 1rem;
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000;
  }
}
.container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.container > div {
  position: relative;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  /* border: 1px solid #ffffff; */
  text-align: center;
  overflow: hidden;
}
.imgContainer {
  height: 100%;
  width: 100%;
}
.img {
  position: relative;
  height: 100%;
}
.imgContainer::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 90%;
  height: 90%;
  left: 0;
  top: 0;
  padding: 2rem;
  margin: 5%;
  border: 1px solid #fff;
}

.img::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}
.content {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.desc {
  color: #000;
  font-size: 1rem;
  max-width: 80%;
}

.icon {
  height: 5rem;
}
.reversShow {
  display: none;
}
.reverseHide {
  display: block;
}
@media (max-width: 1024px) {
  .wrapper {
    padding: 1rem 0;
  }
  .desc {
    font-size: 0.8rem;
  }
  .icon {
    height: 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    & > div {
      width: 90%;
      margin: 0 auto 5rem;
    }
    h3 {
      font-size: 3rem;
    }
  }
  .desc {
    font-size: 1rem;
  }
  .icon {
    height: 5rem;
  }
  .imgContainer {
    width: 50%;
  }
}
@media (max-width: 320px) {
  .servicesContainer {
    padding: 2rem;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    & > div {
      min-width: 60vw;
      flex: 1;
    }
    h3 {
      font-size: 4rem;
    }
  }
}
