.SideTextWrapper {
  display: flex;
  padding: 5rem 3rem;
  justify-content: space-between;
  align-items: center;
  color: #000;
  width: 90%;
  margin: 0 auto 2.5rem;
  gap: 2rem;
  background-color: #fff;

  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
}

.rewersedWrapper {
  flex-direction: row-reverse;
  background-color: #ff8026c1;
}

.textContainer {
}

.rewersedTextContainer {
  text-align: right;
}
.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.text {
  font-size: 1.4vw;
}

.img {
  height: 20rem;
  display: block;
}

@media (max-width: 1440px) {
  .title {
    font-size: 1.8rem;
  }
}

@media (max-width: 1024px) {
  .SideTextWrapper {
    text-align: center;
  }
  .title {
    text-align: center;
    margin: 0;
  }
  .text {
    text-align: center;
    margin: auto;
    font-size: 1.1rem;
    padding: 1rem;
  }
  .img {
    height: 15rem;
  }
}
@media (max-width: 786px) {
  .SideTextWrapper {
    flex-direction: column;
    padding: 0.5rem;
  }
  .title {
  }
  .text {
    width: 80%;
  }
  .img {
    height: 90%;
    width: 90%;
  }
}
@media (max-width: 320px) {
  .SideTextWrapper {
    gap: 0;
  }
  .textContainer,
  .rewersedTextContainer {
    text-align: center;
  }
  .title {
    font-size: 1.5rem;
    text-align: center;
  }
  .text {
    font-size: 0.75rem;
  }
  .img {
    width: 13rem;
  }
}
