.contactWrapper {
  width: 70%;
  background-color: #fff;
  margin: auto;
  padding: 3rem 3rem 1rem 3rem;
}

.contactTitle {
  font-size: 3rem;
  margin: auto;
  width: fit-content;
}

.form {
  margin-top: 2rem;
}

.inputContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input {
  width: 45%;
  margin-bottom: 2rem;
  border-bottom: 1px solid #000;
  padding: 1rem;
}

.msg {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.submit {
  display: block;
  width: 50%;
  height: 5vh;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: auto;
  color: #000;
  border: 2px solid #ff7f26;
  background-color: #fff;
}

.submit:hover {
  cursor: pointer;
  color: #fff;
  background-color: #ff7f26;
}

.info {
  width: fit-content;
  margin-left: auto;
  color: #000000b7;
  margin-top: 2rem;
}

@media (max-width: 1024px) {
  .inputInfo {
    .input {
      width: 80%;
    }
  }
}
@media (max-width: 768px) {
  .contactWrapper {
    width: fit-content;
  }
  .submit {
    width: fit-content;
    padding: 0 1rem;
    line-height: normal;
  }
}
