.wrapper {
  padding: 2rem 0;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.result {
  width: 80%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: auto;
}

.slider {
  display: none;
}
@media (max-width: 1440px) {
  .result {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .result {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .slider {
    display: block;
    width: fit-content;
    margin: 2rem auto;
  }
  .result {
    display: none;
  }
}
