@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.wrapper {
  position: relative;
  color: #fff;
  width: 100%;
  background-size: auto;
}

.logo {
  background-color: #121212;
  display: block;
  height: 100%;
  border-radius: 1.1rem;
}
.phone {
  padding: 0.5rem;
}

.mail {
  padding: 0.5rem;
}

.instagram {
  padding: 0.5rem;
}

.telegram {
  padding: 0.6rem;
}
.form {
  width: 100%;
}

//

.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  width: 100%;
  background-color: #fff;
  height: 40vh;
}

.footerImg {
  width: 50%;
  position: absolute;
  display: block;
  margin: auto;
  left: 25%;
  top: -35%;
}

.footerContent {
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 1rem 0 3rem;
  font-family: "Russo One", sans-serif;
  margin-top: auto;
  color: #000;
  p {
    color: #000000c3;
  }
}
.mainLogo {
  height: 1.8rem;
}
.footerLinks {
  font-weight: 400;
  font-size: 0.8rem;
  color: #414141;
  margin: 1rem 0 2rem;
  a {
    margin-right: 1rem;
  }
  .main {
    color: #000;
  }
}
.footerSocial {
  justify-content: center;
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
}
.footerLogo {
  height: 2rem;
}
@media (max-width: 768px) {
  .footerLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    & > a {
      min-width: 25%;
      display: block;
      margin-bottom: 0.2rem;
    }
  }
  .submit {
    margin: auto;
  }
  .footer {
    height: fit-content;
  }
  .footerContent {
    margin-top: 3rem;
    padding-bottom: 1rem;
  }
  .rights {
    font-size: 0.8rem;
  }
}
