.latest {
  width: 80%;
  margin-bottom: 2rem;
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: auto;
}
@media (max-width: 1440px) {
  .latest {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .latest {
    width: 90%;
  }
}
