.latest {
  width: 60%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: auto;
  padding: 2rem;
}

@media (max-width: 1024px) {
  .latest {
    width: 90%;
    margin: auto;
  }
}
